//global 
$color-primary: #f1c40f;
$color-secondary: #2c3e50;
$color-tertiary: #ecf0f1;
$color-quaternary: #e74c3c;



body {
  font-family: 'Roboto', sans-serif;
  background-color: $color-tertiary;
  color: $color-secondary;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}